.chat-main
  .chat-main__group-info
    .left-header
      .group-name
        = @group.name
      .group-member
        Member :
        - @group.users.each do |user|
          = user.name
    .right-header
      .group-edit-btn
        = link_to edit_group_path(@group.id), class: "edit" do
          Edit
  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    .input__box
      = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
        = f.text_field :content, class: 'input__box__text', placeholder: 'type a message'
        = f.label :image, class: 'input__box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input__box__image--file'
        = f.submit 'Send', class: 'submit-btn'